<div class="container">
    <p>
        <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
        <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
    </p>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="form-group">
        <fieldset [disabled]="isAuthenticating">
            <fieldset>
                <input formControlName="email" placeholder="E-mail" type="text" class="form-control form-margin" required />
            </fieldset>
            <fieldset>
                <input formControlName="password" placeholder="Password" type="password" class="form-control form-margin"
                    required />
            </fieldset>
            <fieldset *ngIf="isActive('register')">
                <input formControlName="gender" placeholder="Gender" type="text" class="form-control form-margin" required />
            </fieldset>
            <fieldset *ngIf="isActive('register')">
                <input formControlName="firstname" placeholder="First Name" type="text" class="form-control form-margin" required />
            </fieldset>
            <fieldset *ngIf="isActive('register')">
                <input formControlName="lastname" placeholder="Last Name" type="text" class="form-control form-margin" required />
            </fieldset>
            <button [disabled]="!authForm.valid" type="submit" class="btn btn-primary btn-block btn-margin">
                {{authType}}
            </button>
        </fieldset>
    </form>
</div>