<div class="container">
    <h1>Students</h1>

    <div [hidden]="!isFetching">
        <p>Loading...</p>
    </div>

    <div [hidden]="isFetching">
        <div class="row row-margin">
            <div class="col-sm">
                <select #filter class="custom-select">
                    <option>--Select Gender--</option>
                    <option>male</option>
                    <option>female</option>
                </select>
            </div>
            <div class="col-sm">
                <button (click)="onFilter(filter.value)" class="btn btn-primary">Filter</button>
                <button [disabled]="filter.selectedIndex==0" (click)="onFilter('reset'); filter.selectedIndex=0"
                    class="btn btn-primary btn-margin">Reset</button>
            </div>
        </div>

        <div class="list-group">
            <a *ngFor="let student of students" routerLink="/students/{{student.id}}"
                class="list-group-item list-group-item-action">
                {{student.firstname}} {{student.lastname}} - {{student.gender}}
            </a>
        </div>
    </div>
</div>