<h1>Student</h1>

<h2>{{student.firstname}}</h2>
<h2>{{student.lastname}}</h2>
<p>{{student.gender}}</p>

<ul>
    <h2>Enrolled Courses</h2>
    <ul>
        <li *ngFor="let enrolledCourse of enrolledCourses">
            <p>{{enrolledCourse.name}}</p>
            <button (click)="onRemoveCourse(enrolledCourse)">Remove</button>
        </li>
    </ul>
</ul>

<ul>
    <h2>Available Courses</h2>
    <ul>
        <li *ngFor="let availableCourse of availableCourses">
            <p>{{availableCourse.name}}</p>
            <button (click)="onAddCourse(availableCourse)">Add</button>
        </li>
    </ul>
</ul>

<button (click)="onBack()">Back</button>